<h1><%= @team.name %></h1>

<ol>
  <% @team.players.order(:id).each do |player| %>
  <li><%= link_to player.name, player %></li>
  <% end %>
</ol>

<div class="controls">
  <%= link_to 'Edit team', edit_team_path(@team) %>
  <%= button_to 'Delete team', @team, :method => 'delete', :data => {:confirm => 'Are you sure?'} %>
</div>
