<h1>Games</h1>

<h2><%= Team.first.name %></h2>

<p id='team1runs'>Runs: </p>
<p id='team1wickets'>Wickets: </p>
<p id='team1overs'>Overs: </p>

<h2><%= Team.last.name %></h2>

<p id='team2runs'>Runs: </p>
<p id='team2wickets'>Wickets: </p>
<p id='team2overs'>Overs: </p>

<button id='bowl'>Bowl ball</button>

<h1 id='result'></h1>
