<div class='row'>
<div class='col-6'>
  <h2><%= $t1.name %></h2>

  <p id='team1runs'>Runs: </p>
  <p id='team1wickets'>Wickets: </p>
  <p id='team1overs'>Overs: </p>

  <button id='bowl'>Bowl ball</button>
</div>
<div class='col-6'>
  <h2><%= $t2.name %></h2>

  <p id='team2runs'>Runs: </p>
  <p id='team2wickets'>Wickets: </p>
  <p id='team2overs'>Overs: </p>

</div>
</div>
<div class='row'>
<div class='col-6'>
  <h2><%= $t1.name %></h2>
  <p id='team1player1'>Player 1: </p>
  <p id='team1player2'>Player 2: </p>
  <p id='team1player3'>Player 3: </p>
  <p id='team1player4'>Player 4: </p>
  <p id='team1player5'>Player 5: </p>
  <p id='team1player6'>Player 6: </p>
  <p id='team1player7'>Player 7: </p>
  <p id='team1player8'>Player 8: </p>
  <p id='team1player9'>Player 9: </p>
  <p id='team1player10'>Player 10: </p>
</div>

<div class='col-6'>
  <h2><%= $t2.name %></h2>
  <p id='team2player1'>Player 1: </p>
  <p id='team2player2'>Player 2: </p>
  <p id='team2player3'>Player 3: </p>
  <p id='team2player4'>Player 4: </p>
  <p id='team2player5'>Player 5: </p>
  <p id='team2player6'>Player 6: </p>
  <p id='team2player7'>Player 7: </p>
  <p id='team2player8'>Player 8: </p>
  <p id='team2player9'>Player 9: </p>
  <p id='team2player10'>Player 10: </p>
</div>

</div>

<h1 id='result'></h1>
