@import url('https://fonts.googleapis.com/css2?family=Zen+Antique+Soft&display=swap');

body {
  font-family: 'Zen Antique Soft', serif;
}

h1 {
  padding-top: 20px;
  padding-bottom: 15px;
}

h2 {
  padding-top: 10px;
}

.scorecard {
  border: 4px solid black;
  background-color: silver;
  text-align: center;
}

.first-team {
  text-align: center;
  border-bottom: 4px solid black;
}

.second-team {
  text-align: center;
  border-bottom: 4px solid black;
}

.scores {
  text-align: right;
}

#result {
  padding-bottom: 0px;
}
